
html
  min-height 100%

*
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)
  -webkit-font-smoothing antialiased
  font-smoothing antialiased
  box-sizing border-box

body
  height 100%
  overflow-y auto
  overflow-x hidden
  margin 0
  background background-color

.hidden
  display none
  opacity 0

img
  max-width 100%
  padding: 0;
  margin: 0;

// p
//   opacity 0

section
  padding 10vw
  overflow visible
  &:nth-child(1)
    padding-top 10vw
  @media tablet
    padding 10vw
    //max-width: 40rem;
    &:nth-child(1)
      padding-top 10vw

#lastfm span:last-child
  display none

#lastfm span:nth-child(28)::after
  content: " and "

.divider
  width 50%
  height 2px
  border-bottom 1px solid #ccc
  margin-top grid-int-phone * 2
  margin-bottom grid-int-phone * 1.4
  //opacity 0
  @media tablet
    display none

.column
  margin-bottom 5vw


// #oweninthemiddle styles

.oitmImg
  width 100%
  margin 0
  padding 0

.oitmBox
  width 100vw
  height 100vw
  float left
  a
    padding 0
    margin 0
    border none
  @media tablet
    width 50vw
    height 50vw
  @media desktop
    width 33.333333vw
    height 33.333333vw

.oitmIntro
  height 100vw
  width 100vw
  @media tablet
    height 50vw
    width 50vw
  @media desktop
    height 33.3333333vw
    width 33.33333vw

.oitmInside
  padding 10vw
  @media tablet
    padding 5vw
  p
    padding-top 0
    i
      font-style italic
    a
      text-decoration none
      transition all 200ms ease-out
      border-bottom 1px solid #000
      padding-bottom 0.15rem
      color #000

// NEW HOME PAGE

.Intro {
  min-height: 100vh;
  padding: 10vw;
  margin-bottom: 20vw;
}
@media laptop {
  .Intro {
    padding: 15vw;
    width: 55%;
  }
}
.ProfilePhoto {
  width: 100vw;
  height: 100vh;
  background-image: url(_img/me.jpg);
  background-size: cover;
  margin-left: -10vw;
  background-color: #A08A55;
  margin-top: 10vw;
}
@media laptop {
  .ProfilePhoto {
    width: 45vw;
    height: 100vh;
    position: absolute;
    right: 0;
    top: -15vw;
    z-index: 999;
  }
}
.ProfilePhotoShadow {
  width: 20vw;
  height: 70vw;
  background: blue;
  position: absolute;
  z-index: 999;
  top: -65vw;
  margin-left: -10vw;
}
@media laptop {
  .ProfilePhotoShadow {
    left: 60vw;
    top: 20vw;
    z-index: 0
    height: 45vw;
  }
}
.Projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media laptop {
  .Projects {
    padding: 0 5vw;
  }
}
.Project {
  margin-bottom: 10vw;
  cursor: pointer;
}
@media laptop {
  .Project {
    width: 45%;
  }
}
.ProjectThumbnail {
  width: 100%;
  height: 0px;
  background-size: cover;
  padding-bottom: 75%;
  background-position: center center;
  position: relative;
}
.ProjectThumbnailInside {
  width: calc(100% - 10vw);
  height: calc(100% - 10vw);
  background: rgba(255,255,255,.98);
  position: absolute;
  top: 0px;
  opacity: 0;
  margin: 5vw;
}
@media laptop {
  .ProjectThumbnailInside {
    margin: 2rem;
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
  }
}
.ProjectThumbnailInside p {
  padding: 5vw;
}
@media laptop {
  .ProjectThumbnailInside p {
    padding: 2rem;
  }
}
.ProjectDetails {
  padding: 5vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
@media laptop {
  .ProjectDetails {
    padding: 1rem 0;
  }
}
footer {
  padding: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
@media laptop {
  footer {
    padding: 5vw;
  }
}
@media laptop {
  footer p {
    width: 25rem;
  }
}
// .FooterLine {
//   width: 40%;
//   height: 1px;
//   background: black;
//   margin-bottom: 10vw;
// }
// @media laptop {
//   .FooterLine {
//     max-width: 300px;
//   }
// }

/// specific Projects
@media laptop {
  #starbucks {
    margin-top: 20%;
  }
}
@media laptop {
  #canlis-site {
    width: 30%;
    margin-top: -30%;
  }
}
@media laptop {
  #rest {
    width: 60%;
  }
}
@media laptop {
  #smoke {
    width: 29%;
  }
}
@media laptop {
  #happyness {
    width: 30%;
  }
}
#starbucks .ProjectThumbnail {
  padding-bottom: 100%;
}
#represented .ProjectThumbnail {
  padding-bottom: 123.4%;
}
