
html
  min-height 100%

*
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)
  -webkit-font-smoothing antialiased
  font-smoothing antialiased
  box-sizing border-box

body
  height 100%
  overflow-y auto
  overflow-x hidden
  margin 0
  background background-color

.hidden
  display none
  opacity 0

img
  max-width 100%
  padding: 0;
  margin: 0;

// p
//   opacity 0

section
  padding 10vw
  overflow visible
  &:nth-child(1)
    padding-top 10vw
  @media tablet
    padding 10vw
    //max-width: 40rem;
    &:nth-child(1)
      padding-top 10vw

#lastfm span:last-child
  display none

#lastfm span:nth-child(28)::after
  content: " and "

.divider
  width 50%
  height 2px
  border-bottom 1px solid #ccc
  margin-top grid-int-phone * 2
  margin-bottom grid-int-phone * 1.4
  //opacity 0
  @media tablet
    display none

.column
  margin-bottom 5vw


// #oweninthemiddle styles

.oitmImg
  width 100%
  margin 0
  padding 0

.oitmBox
  width 100vw
  height 100vw
  float left
  a
    padding 0
    margin 0
    border none
  @media tablet
    width 50vw
    height 50vw
  @media desktop
    width 33.333333vw
    height 33.333333vw

.oitmIntro
  height 100vw
  width 100vw
  @media tablet
    height 50vw
    width 50vw
  @media desktop
    height 33.3333333vw
    width 33.33333vw

.oitmInside
  padding 10vw
  @media tablet
    padding 5vw
  p
    padding-top 0
    i
      font-style italic
    a
      text-decoration none
      transition all 200ms ease-out
      border-bottom 1px solid #000
      padding-bottom 0.15rem
      color #000

// NEW HOME PAGE

.Intro {
  min-height: 100vh;
  padding: 10vw;
  position: relative;
  margin-bottom: 20vw;
}
.ProfilePhoto {
  width: 100vw;
  height: 100vh;
  background-image: url(http://68.media.tumblr.com/b550403045ed2ca5a5f88bf17e04a7df/tumblr_oga56ubOoF1qzu15ho1_1280.jpg);
  background-size: cover;
  margin-left: -10vw;
  background-color: #A08A55;
  margin-top: 10vw;
}
.ProfilePhotoShadow {
  width: 20vw;
  height: 70vw;
  background: blue;
  position: absolute;
  z-index: 999;
  top: -65vw;
  margin-left: -10vw;
}
.Project {
  margin-bottom: 10vw;
}
.ProjectThumbnail {
  width: 100%;
  height: 0px;
  background-size: cover;
  padding-bottom: 100%;
  background-position: center center;
}
.ProjectDetails {
  padding: 5vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
