@font-face {
font-family: 'CircularStdBook';
	src: url('_fonts/CircularStdBook.eot');
	src: url('_fonts/CircularStdBook.eot') format('embedded-opentype'),
	     url('_fonts/CircularStdBook.woff2') format('woff2'),
	     url('_fonts/CircularStdBook.woff') format('woff'),
	     url('_fonts/CircularStdBook.ttf') format('truetype'),
	     url('_fonts/CircularStdBook.svg#CircularStdBook') format('svg');
}

/*@font-face {
    font-family: 'MaisonNeueMono';
    src: url('_fonts/maisonneuemono.eot');
    src: url('_fonts/maisonneuemono.eot') format('embedded-opentype'),
         url('_fonts/maisonneuemono.woff2') format('woff2'),
         url('_fonts/maisonneuemono.woff') format('woff'),
         url('_fonts/maisonneuemono.ttf') format('truetype'),
         url('_fonts/maisonneuemono.svg#maisonneuemono') format('svg');
}*/

/*@font-face {
    font-family: 'NeueHaasUnicaProMedium';
    src: url('_fonts/LinotypeNeueHaasUnicaProMedium.eot');
    src: url('_fonts/LinotypeNeueHaasUnicaProMedium.eot') format('embedded-opentype'),
         url('_fonts/LinotypeNeueHaasUnicaProMedium.woff2') format('woff2'),
         url('_fonts/LinotypeNeueHaasUnicaProMedium.woff') format('woff'),
         url('_fonts/LinotypeNeueHaasUnicaProMedium.ttf') format('truetype'),
         url('_fonts/LinotypeNeueHaasUnicaProMedium.svg#LinotypeNeueHaasUnicaProMedium') format('svg');
}

@font-face {
    font-family: 'Maison';
    src: url('_fonts/MaisonNeueWEB-Book.woff2') format('woff2'),
         url('_fonts/MaisonNeueWEB-Book.woff') format('woff');
}*/
