.PhotoGallery {
	background: black;
}

.PhotoIntro {
	min-height: 100vh;
	position: relative;
	text-align: center;
	overflow: auto;
}

.PhotoIntro p {
	position: relative;
  top: 48vh;
  color: white;
  //transform: translateY(-50%);
}

.PhotoGallery a{
	margin: 0;
	padding: 0;
}

.PhotoGallery img {
	margin-bottom: -4px;
}

.PhotoGallery ul, .PhotoGallery li {
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: normal;
}

.PhotoGallery li {
	width: 100%;
	float: left;
	height: 0px;
	padding-bottom: 56%;
}

@media tablet {
	.PhotoGallery li {
		width: 50%;
		padding-bottom: 28%;
	}
}