// Brand and style colors

text-color=          		white
text-color-2=          		#ccc
background-color=       	black

typeface-body= 				Times New Roman, TimesNewRomanPSMT, Times, Serif
// typeface-body-italic= 		Helvetica, Arial
// typeface-headline= 			Arial, 'Work Sans', Karla, Arial, sans-serif

phone=						"(min-width: 30em)"
tablet=						"(min-width: 48em)"
laptop=						"(min-width: 62em)"
desktop=					"(min-width: 75em)"
bigscreen=					"(min-width: 90em)"

grid-int-tablet=			10vw
grid-int-phone=				7vw


