// Brand and style colors

text-color=          		rgba(0,0,0,.9)
text-color-2=          		#ccc
background-color=       	white

typeface-body= 				CircularStdBook, Arial, Sanserif
// typeface-body-italic= 		Helvetica, Arial
// typeface-headline= 			Arial, 'Work Sans', Karla, Arial, sans-serif

phone=						"(min-width: 30em)"
tablet=						"(min-width: 48em)"
laptop=						"(min-width: 62em)"
desktop=					"(min-width: 75em)"
bigscreen=        "(min-width: 90em)"
biggerscreen=     "(min-width: 130em)"

grid-int-tablet=			10vw
grid-int-phone=				7vw

// SPACING UNITS

unit0=		4px
unit1=		8px
unit2=		16px
unit3=		24px
unit4=		32px
unit5=		40px
unit6=		48px
unit7=		56px
unit8=		64px
unit9=		72px
unit10=		80px
unit11=		88px
unit12=		96px
unit13=		104px
unit14=		112px
unit15=		120px
